<a href="https://colab.research.google.com/github/putrisittinaima/Midtest-Phyton-dan-SQL/blob/main/Test_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python 1 : Addition To String

### Task

Your function name should be `add_str`.

Given a string filled with integers separated by comma. Create a new number, whose digits are the integers inside the string. Then, add 1 to the new number. Then, separate the digits again to a string which consits of **single digit of
integers**, separated by comma. This new string will be your output string. The output string **should not have zero as its first character**.  See the examples for clearer understanding.

### Example 1:

- Input = `'1,3,5'`
- Output = `'1,3,6'`

Since the input is `'1,3,5'`, then the new number created is 135. Add 135 with 1 so it becomes 136. Then, separate back 136 into each individual digits separated by comma. This becomes `'1,3,6'`. So, the expected output of your solution is `'1,3,6'`

### Example 2:

- Input = `'1,3,39'`
- Output = `'1,3,4,0'`

Since the input is `'1,3,39'`, then the new number created is 1339. Add 1339 with 1 so it becomes 1340. Then, separate back 1340 into each individual digits separated by comma. This becomes `'1,3,4,0'`. So, the expected output of your solution is `'1,3,4,0'`

### Example 1:

- Input = `'0,1,3,39'`
- Output = `'1,3,4,0'`

Since the input is `'0,1,3,39'`, then the new number created is 1339. Add 1339 with 1 so it becomes 1340. Then, separate back 1340 into each individual digits separated by comma. This becomes `'1,3,4,0'`. So, the expected output of your solution is `'1,3,4,0'`. Remember, do not put a 'zero' in the beginning of your output.

### Input Format

The input is in the shape of a string.

### Output Format

The output is in the shape of a string.

### Sample Input

`'1,5,1,9'`

### Sample Output
`'1,5,2,0'`

### Space for Work

In [ ]:
def add_str(input_string):
    # Convert input string to a list of integers
    num_list = [int(num) for num in input_string.split(',')]

    # Convert list of integers to a single integer
    num = int(''.join(map(str, num_list)))

    # Add 1 to the integer
    num += 1

    # Convert the new integer to a list of single-digit integers
    new_num_list = [int(digit) for digit in str(num)]

    # Convert list of single-digit integers to a string
    output_string = ','.join(map(str, new_num_list))

    # Remove any leading zeros from the output string
    if output_string[0] == '0':
        output_string = output_string[1:]

    return output_string

input_string = '1,5,1,9'
output_string = add_str(input_string)
print(output_string) # Output: '1,5,2,0'